<!DOCTYPE html>
<html>
<head>
    <%= csrf_meta_tags %>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>HeoTag</title>

    <!-- Main css styles -->
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!-- Main javascript files -->
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

    <body class="gray-bg">
        <!--Login / Logout alerts and warnings -->
        <% if notice %> <div class="alert alert-info"> <%= notice %> </div> <% end %>

        <% if alert %> <div class="alert alert-warning"> <%= alert%> </div> <% end %>

        <!-- Main view  -->
        <%= yield %>
    </body>
</html>